
body {
    background-color: #f8dcdb;
}
.ocultar {
    background-color: brown;
}


.progreso {
    margin: auto;
    display: block;
    shape-rendering: auto;
}

.ocultarTarea {
    display: none;
}

.ocultarTarea1 {
    display: flex;
    flex-direction: column;
}







img {
    width: 300px;
    height: 340px;
}


.btn-registrar {
    width: 180px;
    height: 50px;
    border: 1px solid #7ddcf5;
    background-color: #939d9d;
    border-radius: 30px;
    color: #7ddcf5;
    font-size: 18px;
    font-weight: 700;
    transition: all;
    transition-duration: 900ms;
}
.btn-registrar:hover {
    width: 180px;
    height: 50px;
    background-color: #7ddcf5;
    border: 1px solid #939d9d;
    opacity: 0.9;
    color: #939d9d;
    font-weight: 700;
    border-radius: 30px;
    font-size: 18px;
    transition: all;
    transition-duration: 900ms;
}



@media (min-width: 150px) {


.margenCirculo {
    margin-left: 500px;
}
    
.margenCirculo2 {
    margin-left: 200px;
}

.separar-form-circulo {
    padding-left: 100px;
}

.centar-contenido-circulo {
    margin-left: -180px;
    margin-top: -150px;
}

.centar-contenido-circulo-movil {
    margin-left: -250px;
    margin-top: -150px;
}

    


    .btn-contenedor {
        width: 400px;
        display: none;
        flex-direction: row;
        justify-content: space-between;
    }

    .btn-entrar {
        width: 120px;
        height: 35px;
        border: 1px solid #7ddcf5;
        background-color: #939d9d;
        border-radius: 30px;
        color: #7ddcf5;
        font-size: 13px;
        margin-bottom: 10px;
        font-weight: 700;
        transition: all;
        transition-duration: 900ms;
    }
    .btn-entrar:hover {
        width: 120px;
        height: 35px;
        background-color: #7ddcf5;
        opacity: 0.9;
        color: #939d9d;
        font-weight: 700;
        border-radius: 30px;
        font-size: 13px;
        transition: all;
        transition-duration: 900ms;
    }


    .seccion-usuarios {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #f8dcdb;
        opacity: 0.9;
    }
   .seccion-usuarios:hover {
        opacity: 1;
    }

    .seccion-usuarios1 {
        display: flex; 
        flex-direction: column;
        justify-content: center;       
        align-items: center;
        width: 100%;
        margin-top: 70px;
        background-color: #f8dcdb;
        opacity: 0.9;

    }
    .seccion-usuarios1:hover {
        opacity: 1;
    }

    .a {      
        top: 0px;
        height: 100%;
        width: 100%;
    }
    .modal {
        position: fixed;
        margin: 0;
        top: -70px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: flex; 
        justify-content: center;
        background-color: #f8dcdb;
        transition: all;
        transition-duration: 1000ms;
    }

    .alinear {
        display: flex;
        position: absolute;
        margin-top: 150px;
    }

    .registrar-usuario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        background-color: #4dbcbe;
        border: 1px solid #493b27;
        width: 100%;
    }

    .login-usuario {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        background-color: #4dbcbe;
        border: 1px solid #493b27;
        width: 100%;  
    }


    .campos-registro-usuarios {
        width: 95%;
        height: 40px;
        margin-right: 5px;
        margin-left: 5px;
        border: 1px solid #493b27;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        background-color: #f8dcdb;
        border-radius: 20px;
    }
    
    .info-registro-usuarios {
        font-size: 18px;
        color: #493b27;
        width: 22%;
        padding: 5px;
        margin-right: 5px;
    }

    .input-registro-usuarios {
        width: 75%;
        height: 27px;
        border-radius: 15px;
        text-align: center;
        font-size: 15px;
        color: #493b27;
        font-weight: 700;
        transition: all;
        transition-duration: 900ms;
    }
    .input-registro-usuarios:hover {
        outline: none;
        border: 1px solid #493b27;
        transition: all;
        transition-duration: 900ms;

    }
    .input-registro-usuarios::placeholder {
        text-align: center;
        font-size: 15px;
        color: #493b27;
        opacity: 0.5;
    }

    .titulo-tareas {
        color: #7ddcf5;
        font-size: 10px;
        text-align: center;
        font-weight: 700;
    }

    
    .titulo-secundario {
        color: #7ddcf5;
        font-size: 12px;
        text-align: center;
        font-weight: 700;
        margin-top: -20px;
    }
   
   
    nav {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        margin-right: 5px;
    }

    .hamburguesa {
        display: none;
    }

    .hamburguesa-modal {
        position: fixed;
        top: 0;
        left: -6px;
        width: 100%;
        height: 100%;
        background-color: #f1ecec; 
        display: flex;
        flex-direction: column;   
    }

    .menu-hamburguesa {
        width: 100px;
        height: 40px;
        border: 1px solid #7ddcf5;
        background-color: #939d9d;
        color: #7ddcf5;
        border-radius: 20px;
        font-weight: 700;
    }
    .menu-hamburguesa:hover {
        width: 100px;
        height: 40px;
        border: 2px solid #939d9d;
        background-color: #7ddcf5;
        color: #939d9d;
        border-radius: 20px;
        font-weight: 700;
    }

    .botones-modal-movil {
        display: flex;
        justify-content: space-between;
    }

    .btn-registrar-movil1 {
        border: 1px solid #7ddcf5;
        width: 130px;
        height: 50px;
        margin-top: 50px;
        margin-left: 5px;
        border-radius: 20px;
        background-color: #939d9d;
        color: #7ddcf5;
        font-size: 15px;
        font-weight: 700;
    }
    .btn-registrar-movil2 {
        border: 1px solid #7ddcf5;
        width: 130px;
        height: 50px;
        margin-top: 50px;
        margin-right: 5px;
        border-radius: 20px;
        background-color: #939d9d;
        color: #7ddcf5;
        font-size: 15px;
        font-weight: 700;
    }

    .titulo-registro-usuario {
        font-size: 25px;
        color: #7ddcf5;
        margin-top: 5px;
    }

    .validar-correo {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #493b27;
        width: 150px;
        height: 30px;
        border-radius: 20px;
        background-color: #4dbcbe;
        color: #493b27;
        font-size: 15px;
        cursor: pointer;
    }
    .validar-correo:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        background-color: #7ddcf5;
        color: #555e5e;
    }

    .nuevoHidden {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        color: #d05151;
        border: 1px solid #d05151;
        width: 95%;
        background-color: #f8dcdb;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    
    .viejoHidden {
        display: none;
    }
    
    .mostrarMsjValidacion {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        color: #d05151;
        border: 1px solid #d05151;
        width: 95%;
        background-color: #f8dcdb;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    
    .ocultarMsjValidacion {
        display: none;
    }




.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edd4f6;
    font-size: 20px;
    border: 1px solid #493b27;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background: #ebd6de;
    background: linear-gradient(to left, #e79c87 0%, #c691c2 40%, #8f7ad7 100%);
    font-weight: 400;
    transition: all;
    transition-duration: 400ms;
}
.btn-login:hover {
    background-color: white;
    color: #493b27;
    border: 2px solid #8f7ad7;
    font-weight: 400;
    width: 170px;
    height: 40px;
    transition: all;
    transition-duration: 400ms;
   
}

.circulo-login {
    padding: 20px;
    box-shadow: 0px 0px 40px 5px #e28ba8;

    background: #ebd6de;
    background: linear-gradient(to bottom, #e79c87 0%, #c691c2 40%, #8f7ad7 100%);
}


.ponerMostrarCirculo {
    display: flex;
    justify-content: center;
    align-items: center;
}
    

}




@media (min-width: 500px) {
    .btn-contenedor {
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .btn-entrar {
        width: 150px;
        height: 40px;
        border: 1px solid #7ddcf5;
        background-color: #939d9d;
        border-radius: 30px;
        color: #7ddcf5;
        font-size: 15px;
        font-weight: 700;
    }
    .btn-entrar:hover {
        width: 150px;
        height: 40px;
        border: 1px solid #939d9d;
        background-color: #7ddcf5;
        opacity: 0.9;
        color: #939d9d;
        font-weight: 700;
        border-radius: 30px;
        font-size: 15px;
    }

    .seccion-usuarios {
        display: none; 
        flex-direction: column;
        justify-content: space-between;       
        align-items: center;
        margin-top: 70px;
        height: 100%;
        background-color: #f8dcdb;
        opacity: 0.9;

    }
   .seccion-usuarios:hover {
        opacity: 1;
    }

    .seccion-usuarios1 {
        display: flex; 
        flex-direction: column;
        justify-content: center;       
        align-items: center;
        width: auto;
        margin-top: 70px;
        background-color: #f8dcdb;
        opacity: 0.9;

    }
    .seccion-usuarios1:hover {
        opacity: 1;
    }

    .a {      
        top: 0px;
        height: 100%;
        width: 100%;
    }
    .modal {
        position: fixed;
        margin: 0;
        top: -70px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: flex; 
        justify-content: center;
        background-color: #f8dcdb;
        transition: all;
        transition-duration: 1000ms;
       
    }


    .alinear {
        display: flex;
        position: absolute;
        margin-top: 150px;
    }

    .registrar-usuario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #493b27;
        margin-left: 5px;
        margin-right: 5px;
        width: 50%;
        height: 400px;
        width: 500px;
    }

    .login-usuario {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #493b27;
        margin-left: 5px;
        margin-right: 5px;
        width: 50%;
        height: 400px;
        width: 500px;
    }

    .campos-registro-usuarios {
        width: 95%;
        height: 50px;
        margin-right: 5px;
        margin-left: 5px;
        border: 1px solid #493b27;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        background-color: #f8dcdb;
        border-radius: 30px;
    }

    .info-registro-usuarios {
        font-size: 20px;
        color: #493b27;
        width: 20%;
        padding: 5px;
    }
    .input-registro-usuarios {
        outline: none;
        width: 75%;
        height: 35px;
        border-radius: 30px;
        text-align: center;
        font-size: 20px;
        color: #493b27;
        font-weight: 700;
        border: 1px solid #493b27;
        transition: all;
        transition-duration: 500ms;
    }
    .input-registro-usuarios:hover {
        border: 1px solid #493b27;
        height: 32px;
        transition: all;
        transition-duration: 500ms;
        transform: scaleY(1.2);
       
    }
    .input-registro-usuarios::placeholder {
        text-align: center;
        font-size: 15px;
        color: #493b27;

    }

    .titulo-tareas {
        color: #7ddcf5;
        font-size: 40px;
        text-align: center;
        font-weight: 700;
    }

    .titulo-principal {
        color: #7ddcf5;
        font-size: 50px;
        text-align: center;
        font-weight: 700;
    }

    .titulo-secundario {
        color: #7ddcf5;
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        margin-top: -20px;
    }


    .btn-entrar-tarea {
        width: 180px;
        height: 40px;
        border: 2px solid #7ddcf5;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        color: #939d9d;
        font-size: 13px;
        font-weight: 700;
        transition: all;
        transition-duration: 900ms;
    }
    .btn-entrar-tarea:hover {
        width: 180px;
        height: 40px;
        border: 2px solid white;
        background-color: #7ddcf5;
        border-radius: 30px;
        color: white;
        font-size: 15px;
        font-weight: 700;
        transition: all;
        transition-duration: 900ms;
    }

    .validar-correo {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #493b27;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #4dbcbe;
        color: #493b27;
        margin-bottom: 10px;
    }
    .validar-correo:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #493b27;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #7ddcf5;
        color: #d05151;
    }





    .nuevoHidden {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        color: #d05151;
        border: 1px solid #d05151;
        width: 95%;
        background-color: #f8dcdb;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        border-radius: 30px;
    }
    
    .viejoHidden {
        display: none;
    }
    
    .mostrarMsjValidacion {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        color: #d05151;
        border: 1px solid #d05151;
        width: 95%;
        background-color: #f8dcdb;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        border-radius: 30px;
    }
    
    .ocultarMsjValidacion {
        display: none;
    }
    
    
.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edd4f6;
    font-size: 20px;
    border: 1px solid #493b27;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background: #ebd6de;
    background: linear-gradient(to left, #e79c87 0%, #c691c2 40%, #8f7ad7 100%);
    font-weight: 400;
    transition: all;
    transition-duration: 400ms;
}
.btn-login:hover {
    background-color: white;
    color: #493b27;
    border: 2px solid #8f7ad7;
    font-weight: 400;
    width: 170px;
    height: 40px;
    transition: all;
    transition-duration: 400ms;
   
}

.circulo-login {
    padding: 20px;
    box-shadow: 0px 0px 40px 5px #e28ba8;

    background: #ebd6de;
    background: linear-gradient(to bottom, #e79c87 0%, #c691c2 40%, #8f7ad7 100%);
}


}




@media (min-width: 639px) {

.quitarMostrarCirculo {
    display: none;
}

.margenCirculo {
    margin-left: 300px;
}

.separar-form-circulo {
    padding-left: 70px;
}

.centar-contenido-circulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -340px;
    margin-top: -20px;
}


}


@media (min-width: 900px) {


.centar-contenido-circulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -250px;
    margin-top: -20px;
}


}