.b {
    text-align: center;
    font-size: 50px;
}

.c {
    color: blue;
    text-decoration: underline;
}

.c:hover {
    color: red;
}


.listar {
   border-bottom: 2px solid white;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #7ddcf5;
   font-size: 20px;
   font-weight: 700;
   height: 50px;
}

.listar-input {
    background-color: #939d9d;
}