


.tareasActivas {
    font-size: 20px;
    font-weight: 500;
}


.filtro {
    display: none;
}


.prueba {
    color: #fcfafa;
}


.degradado {
    /* background: linear-gradient(top, white 20%, #f9f7f7 75%, #f8dcdb 5%); */
    background: linear-gradient(white 30%, #f9f7f7 75%, #f8dcdb 99%);
}





body {
    background-color: #f7e8ee; /*#493b27 #f8dcdb*/
}

.b {
    text-align: center;
    font-size: 50px;
}






.ocultarTarea {
    display: none;
}

.ocultarTarea1 {
    display: flex;
    flex-direction: column;
}




/* .c {
    color: blue;
    text-decoration: underline;
}

.c:hover {
    color: red;
} */

.mostrar-ocultar {
    display: none;
}


@media (min-width: 150px) {
    
.progreso {
    margin: auto;
    display: block;
    shape-rendering: auto;
    width: 30px;
    height: 30px;
}

.listare {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    height: 60px;
    width: 100%; 
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ebd6de;
    transition: all;
    transition-duration: 600ms;
}

.listare:hover {
     height: 60px;
     width: 100%;
     margin-bottom: 10px;
     border-radius: 10px;
     border: 1px solid #493b27;
     box-shadow: 0px 0px 2px 2px #ebd6de;
     transition: all;
     transition-duration: 600ms;
}
    
body li input[type="text"]:read-only {
    background: transparent;
    color: #493b27;
    pointer-events: none;
    background-color: white;
}

body li[data-status="completed"] input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #e97070;
    border: 2px solid #493b27;
    cursor: pointer;
    transition: all;
    transition-duration: 600ms;
}

body li[data-status="completed"] input[type="checkbox"]:hover {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #e97070;
    border: 2px solid #ebd6de;
    cursor: pointer;
    transition: all;
    transition-duration: 600ms;
}

body li[data-status="pending"] input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 40px;
    border: 2px solid #f8dcdb;
    border-radius: 100%;
    background-color: #f7e8ee;
    cursor: pointer;
    transition: all;
    transition-duration: 600ms;
}

body li[data-status="pending"] input[type="checkbox"]:hover {
    appearance: none;
    width: 40px;
    height: 40px;
    border: 2px solid #493b27;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    transition: all;
    transition-duration: 600ms;
}

body li[data-clase="marcar"] input[type="text"] {
    text-decoration: line-through;
    color: #e97070;
    opacity: 0.9;
    border: 1px solid #e97070;
}

.input-contenedor {
        display: flex;
        height: 40px;
        width: 70%;
        flex-direction: row;
        align-items: center;
        cursor: pointer;  
}

.input-tarea {
    border: 1px solid #ebd6de;
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    transition: all;
    transition-duration: 600ms;   
}

.input-tarea:hover {   
    border: 1px solid #493b27;
    transition: all;
    transition-duration: 600ms;
}

.btn-contenedore {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        width: 30%;
}

.circulos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #ebd6de;
    color: #493b27;
    background-color: #f7e8ee;
    font-size: 18px;
    transition: all;
    transition-duration: 600ms;
}
    
.circulos:hover {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #493b27;
    color: #493b27;
    background-color: white;
    transition: all;
    transition-duration: 600ms;
}

.circulosEditando {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #e3c8d2;
    color: #f8dcdb;
    background-color: white;
    font-size: 18px;
    transition: all;
    transition-duration: 600ms;
}
.circulosEditando:hover {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #493b27;
    color: #493b27;
    background-color: white;
    transition: all;
    transition-duration: 600ms;
}

.borrarTodo {
    transition: all;
    transition-duration: 600ms;
    
}
.borrarTodo:hover {
    transition: all;
    transition-duration: 600ms;
}

.btn-eliminar-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #493b27;
    font-size: 15px;
    border: 2px solid #ebd6de;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #f7e8ee;
    font-weight: 400;
}
.btn-eliminar-todo:hover {
    background-color: white;
    color: #493b27;
    border: 2px solid #493b27;
    font-weight: 400;
    width: 150px;
    height: 40px;
}


.subModalConfirmar {
    margin-left: -300px;
    transition: all;
    transition-duration: 1s;
}

.text {
    font-size: 40px;
    font-family: helvetica;
    font-weight: bold;
    text-transform: uppercase;
}
.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
  
@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
  
@-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
}
  
@keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


}





@media (min-width: 500px) {

.progreso {
    margin: auto;
    display: block;
    shape-rendering: auto;
    width: 50px;
    height: 50px;
}

.listare {
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: white;
   height: 70px;
   width: 100%;
   margin-bottom: 10px;
   border-radius: 10px;
   border: 1px solid #ebd6de;
   transition: all;
   transition-duration: 600ms;
}
.listare:hover {
    height: 70px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #493b27;
    box-shadow: 0px 0px 2px 2px #ebd6de;
    transition: all;
    transition-duration: 600ms;
}

body li input[type="text"]:read-only {
    background: transparent;
    color: #493b27;
    pointer-events: none;
    background-color: white;
}

body li[data-status="completed"] input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #e97070;
    border: 1px solid #493b27;
    cursor: pointer;
    transition: all;
    transition-duration: 600ms;
}
body li[data-status="completed"] input[type="checkbox"]:hover {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #e97070;
    border: 2px solid #ebd6de;
    cursor: pointer;
    transition: all;
    transition-duration: 600ms;
}

body li[data-status="pending"] input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 40px;
    border: 2px solid #f8dcdb;
    background-color: #f7e8ee;
    cursor: pointer;
    transition: all;
    transition-duration: 600ms;
}

body li[data-status="pending"] input[type="checkbox"]:hover {
    appearance: none;
    width: 40px;
    height: 40px;
    border: 2px solid #493b27;
    background-color: white;
    cursor: pointer;
    transition: all;
    transition-duration: 600ms;
}

body li[data-clase="marcar"] input[type="text"] {
    text-decoration: line-through;
    color: #e97070;
    opacity: 0.9;
    border: 1px solid #e97070;
}

.input-contenedor {
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.input-tarea {   
    border: 1px solid #ebd6de;
    width: 100%;
    height: 40px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    transition: all;
    transition-duration: 600ms;
}
.input-tarea:hover {   
    border: 1px solid #493b27;
    transition: all;
    transition-duration: 600ms;
}

.btn-contenedore {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 30%;
}

.circulos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #ebd6de;
    color: #493b27;
    background-color: #f7e8ee;
    font-size: 18px;
    transition: all;
    transition-duration: 600ms;
}
.circulos:hover {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #493b27;
    color: #493b27;
    background-color: white;
    transition: all;
    transition-duration: 600ms;
}

.circulosEditando {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #e3c8d2;
    color: #f8dcdb;
    background-color: white;
    font-size: 18px;
    transition: all;
    transition-duration: 600ms;
}
.circulosEditando:hover {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #493b27;
    color: #493b27;
    background-color: white;
    transition: all;
    transition-duration: 600ms;
}

.borrarTodo {
    transition: all;
    transition-duration: 600ms;
    
}
.borrarTodo:hover {
    transition: all;
    transition-duration: 600ms;
}

.btn-eliminar-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #493b27;
    font-size: 20px;
    border: 2px solid #ebd6de;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #f7e8ee;
    font-weight: 400;
}
.btn-eliminar-todo:hover {
    background-color: white;
    color: #493b27;
    border: 2px solid #493b27;
    font-weight: 400;
    width: 170px;
    height: 40px;
}






.subModalConfirmar {
    margin-left: -300px;
    transition: all;
    transition-duration: 1s;
}

.text {
    font-size: 40px;
    font-family: helvetica;
    font-weight: bold;
    text-transform: uppercase;
}
.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
  
@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
  
@-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
}
  
@keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


} 